html {
  background-image: url('../images/concrete_seamless.png');
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  font-size: 2em;
  margin: 25px;
}

.header.mobile {
  display: none;
}

@media (max-width: 620px) {
  .header {
    display: none;
  }

  .header.mobile {
    display: block;
  }
}

.pageWrapper {
  position: relative;
  right: 0;
}

.pageWrapper.menu-open {
  right: 500px;
}

.menu-wrapper {
  display: flex;
  position: fixed;
  height: 100%;
  width: 320px;
  top: 0;
  right: -243px;
  transition: all 0.5s ease;
  overflow: scroll;
  background-image: url('../images/concrete_seamless.png');
  box-shadow: 0 0 15px black;
}

.menu-wrapper.menu-open {
  right: 0;
}

.menu-button {
  font-size: 2em;
  background-color: transparent;
  border: none;
  margin: 28px 25px 0 25px;
}

.menuPanel ul {
  padding: 0;
  margin: 0 25px;
  font-size: 2em;
}

.menuPanel li {
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  margin: 25px 0 0 0;
}

.image-row {
  display: flex;
}

.image {
  flex: 1;
  border: 1px solid black;
  margin: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer
}

.placeholder {
  flex: 1;
  margin: 6px;
}
