html {
  background-image: url('../images/concrete_seamless.png');
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  font-size: 2em;
  text-align: center;
  margin: 25px;
}

.pageWrapper {
  position: relative;
  right: 500px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  box-shadow: 0 0 15px black;
  transition: all 0.5s ease;
  overflow: scroll;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  font-size: 2em;
  margin-top: 25px;
}

.image-row {
  display: flex;
}

.image {
  flex: 1;
  border: 1px solid black;
  margin: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer
}

.placeholder {
  flex: 1;
  margin: 6px;
}
